extends ../layout
block content
  div(class="jumbotron")
    h1 Teste Sistema
    p(class="lead") asdfasfdasfdsafasdfd
    |asdfasdfasfasfd
    |asdfasdfasdfasdf
    p
      a(href="http://teste.com.br" target="_blank" class="btn btn-lg btn-success") Acessar o site

